.courses-container {
    width: 82%;
}

.all_course_list {
    padding: 40px 50px 50px 50px;
    padding: 50% auto;
}

.course_list_center {
    padding: 0px 50px 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 60px 20px;
    justify-items: center;
}

.all_course_list .card {
    width: 450px;
    height: 160px;
    text-decoration: none;
}

.page-number {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
