.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-top: 120px;
  }