.sub-header-course-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(223, 223, 223, 0.3);
    padding: 0 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.sub-header-course-detail i {
    font-size: 24px;
    color: black;
}

.sub-header-course-detail button {
    padding: 6px 20px;
    cursor: pointer;
    color: #0046c9;
    background: transparent;
    border: 1px solid #0046c9;
    box-shadow: none;
    transition: 0.5s ease-in-out;
}

.sub-header-course-detail button:hover {
    box-shadow: 20px 5px 0 #0046c9, -20px -5px 0 #0046c9;
}

.sub-header-course-detail button:focus {
    outline: none;
}

.coursesdetails-container {
    margin: 40px;
}

#title_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background: rgba(223, 223, 223, 0.402) ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /*background: linear-gradient(to left, #F9F6EE, #1b5edb);  Example gradient */
    border-radius: 20px;
}

.coursesdetails-container h2 {
    color: var(--bs-secondary-color) !important;
    /*color: #F9F6EE;*/
}

.coursesdetails-container p {
    color: var(--bs-secondary-color) !important;
}

.main-review-container {
    display: flex;
    flex-direction: row;
}

.student-review {
    width: 70%;
}

.course-description {
    width: 30%;
    height: 200px;
    background-color: rgba(223, 223, 223, 0.402);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}