#main_home_page #first_card {
    margin: 100px;
}

.card button {
    margin: 50px 100px 20px;
    height: 50px;
}

#first_card .btn-primary {
    background: linear-gradient(to right, #566cae, #0046c9); /* Gradient background */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
    cursor: pointer; /* Change cursor on hover */
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Add transition effect */
}

#first_card .btn-primary:hover {
    background: linear-gradient(to right, #0046c9, #566cae); /* Change gradient on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Change box shadow on hover */
}

#first_card .float-end {
    float: right;
    margin-top: 10px;
}

#first_card .forward-icon {
    width: 20px;
    margin-left: 5px;
}

#main_home_page .card-title {
    font-size: 35px;
}

#main_home_page .card-text {
    font-size: 20px;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column layout */
    text-align: center;
    padding: 120px 0 100px 0;
}

.HomepageCTA__CTAHeader-sc-1cz1lmf-1 {
    margin-bottom: 60px;
    /* Adjust the spacing between header and subheader */
}

.HomepageCTA__CTAMainHeader-sc-1cz1lmf-2 {
    font-weight: bold;
    font-size: 28px;
}

.HomepageCTA__CTASubheader-sc-1cz1lmf-3 {
    font-size: 20px;
}

.CTAImagePrompts__CardContainer-sc-185aslp-0 {
    display: flex;
    justify-content: center;
}

.CTACard__StyledCTACard-sc-1l1zcl0-0 {
    text-align: center;
    margin: 0 30px;
    /* Adjust the spacing between cards */
}

.CTACard__CardText-sc-1l1zcl0-2 {
    margin: 20px 40px 0 40px;
    font-weight: bold;
    font-size: 20px;
}

button.ModalButtonLink__StyledButton-sc-1soj3zs-0 {
    display: block;
    margin: 50px auto;
    border: none;
    /* Center the button */
}

.CTAImagePrompts__CardContainer-sc-185aslp-0 img {
    width: 340px;
    height: 340px;
    border-radius: 20px;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button {
    position: relative;
    padding: 14px 22px;
    display: block;
    overflow: hidden;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button span {
    position: relative;
    color: #fff;
    z-index: 1;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button>div {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #2b319b;
    transition: 0.5s;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button>div::after,
.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button>div::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button>div::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button>div::after {
    border-radius: 40%;
    background: rgba(80, 80, 80, 0.5);
    animation: animate 10s linear infinite;
}

.HomepageCTA__StyledHomepageCTA-sc-1cz1lmf-0 button:hover>div {
    top: -150px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


.ezy__testimonial23 {
    /* Bootstrap variables */
    --bs-body-color: #28303b;
    --bs-body-bg: rgb(255, 255, 255);

    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-card-bg: #ffffff;
    --ezy-card-box-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);

    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}

@media (min-width: 768px) {
    .ezy__testimonial23 {
        padding: 100px 0;
    }
}

/* Gray Block Style */
.gray .ezy__testimonial23,
.ezy__testimonial23.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);

    /* Easy Frontend variables */
    --ezy-card-bg: #fff;
}

/* Dark Gray Block Style */
.dark-gray .ezy__testimonial23,
.ezy__testimonial23.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);

    /* Easy Frontend variables */
    --ezy-card-bg: rgb(30, 39, 53);
    --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
}

/* Dark Block Style */
.dark .ezy__testimonial23,
.ezy__testimonial23.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);

    /* Easy Frontend variables */
    --ezy-card-bg: rgb(11, 23, 39);
    --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
}

.ezy__testimonial23-heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
}

.ezy__testimonial23-sub-heading {
    opacity: 0.8;
    font-size: 18px;
    line-height: 1.7;
}

/* shapes */
.ezy__testimonial23-shape-one {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ezy__testimonial23-shape-two {
    position: absolute;
    top: 0;
    right: 0;
}

.ezy__testimonial23-item {
    background-color: var(--ezy-card-bg);
    box-shadow: var(--ezy-card-box-shadow);
}

/* indicators */
.ezy__testimonial23 .carousel-indicators {
    margin: 0;
    bottom: -50px;
}

.ezy__testimonial23 .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bs-body-color);
    opacity: 0.2;
}

.ezy__testimonial23 .carousel-indicators button.active {
    background-color: rgba(var(--ezy-theme-color-rgb), 1) !important;
    color: rgba(var(--ezy-theme-color-rgb), 1) !important;
    opacity: 1;
}