#sidebar .brand img {
    width: 100px;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
}

#sidebar .side-menu img {
    width: 56px;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
}

#sidebar .top .dropdown-icon {
    margin: 0;
}