:root {
    --primary-color: #FDF7F2;
    --text-color: #EDB7AD;
    --background-color: #FDF7F2;
    --nav-color: white;
    --menu-color: #616087;
}

.loading{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu-courses-container {
  display: flex;
  flex-direction: row;
}

.menu-courses-container h6 {
    text-align: center;
  }

.menu-courses-list {
  list-style-type: none;
  position: sticky;
  top: 50px; 
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.menu-courses-list a {
  text-transform: uppercase;
  color: #857f7b;
}

.menu-courses-nav {
  padding-top: 20px;
  background-color: var(--nav-color);
  width: 18%;
  line-height: 50px;
  /*text-transform: uppercase;*/
  font-size: 20px;
  font-weight: 500;
  position: sticky;
  top: 0;
  border-right: 1px solid lightgray;
  /* position: fixed;
  z-index: 100; */
}

.menu-nav {
    width: 18%;
    position: fixed;
    z-index: 100;
}

.menu-courses-nav li {
    padding-bottom: 24px;
  }

.courses-container {
  flex: 1;
}

.form-select {
    width: 80%;
}

.form-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the flex-end */
    margin-right: 46px;
    margin-bottom: 50px;
}

.menu-nav .submit-button,
.menu-nav .reset-button {
    width: 60px;
    height: 36px;
    line-height: 36px;
    background-color: #0076df; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 4px;
    cursor: pointer;
    border-radius: 5px;
}


.menu-courses-list label {
    margin-bottom: 0;
    font-size: 15px;
    color: #777
}